# Visual Studio generated .editorconfig file with C++ settings.
root = true

[*]
# Indentation style: space or tab
indent_style = space
# Indent size: 4
indent_size = 4
# Character set: utf-8
charset = utf-8
# Whether to remove trailing whitespace
trim_trailing_whitespace = true
# Whether to insert a blank line at the end of the file
insert_final_newline = true
# Set line endings to synchronize Windows/Linux/macOS inconsistencies
end_of_line = crlf
